@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  transition: all 0.3s ease-in-out;
}

.footer-links {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-links.active {
  color: #f5489f; /* Pink-500 */
  border-bottom: 2px solid #ec4899;
}

.footer-links:hover {
  color: #f43795;
}

@media (max-width: 500px) {
  .footer {
    /* padding-left: 1rem; */
    z-index: 50;
  }
}